@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>We store your data and do whatever we want to do with it. We test in production, so it may(63% certainty) will get deleted.</h1>
