
<div id="admin-dashboard" class="row">
  <div class="row px-5 bg-dark text-light my-3 rounded-3">
    <div class="container-fluid py-4 row">
      <h1 class="fw-bold">Admin Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <a asp-action="AddAdmin" class="px-4 my-2 btn btn-lg btn-warning">Add Admin</a>
    <a asp-action="ChangeBGColor" class="px-4 my-2 btn btn-lg btn-warning">Change Background Color (POTENTIALLY DESTRUCTIVE!!!)</a>
  </div>
</div>